{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">My Quizzes</a></li>
      <li class="breadcrumb-item"><a href="#">{{ comment.message }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">Confirm deletion</li>
    </ol>
  </nav>
  <h2 class="mb-3">Confirm deletion</h2>
  <p class="lead">Are you sure you want to delete the comment <strong>"{{ comment.message }}"</strong>? There is no going back.</p>
  <form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Yes, I'm sure</button>
    <a href="{% url 'comments' comment.post.topic.category.pk comment.post.topic.pk comment.post.pk %}" class="btn btn-outline-dark" role="button">Not Now</a>
  </form>
{% endblock %}