{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

  <h2 class="mb-3">Confirm deletion</h2>
  <p class="lead">Are you sure you want to delete the comment <strong>"{{ reply_comment.reply_message }}"</strong>? There is no going back.</p>
  <form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Yes, I'm sure</button>
    <a href="{% url 'comments' reply_comment.comment.post.topic.category.pk reply_comment.comment.post.topic.pk reply_comment.comment.post.pk %}" class="btn btn-outline-dark" role="button">Not Now</a>
  </form>
{% endblock %}