.header{
   background-color: black;
    min-height: 50px;
    margin: 0px;
    padding: 0px;
    color: red;

}


.header ul{
    float: right;
    margin: 0px;
}

.active:hover{
    background-color: red;
}